#page-content-wrapper
  .container-fluid
    .header
      =render "shared/titlebar", :title => t('tree.title.diagnostic'),:text => t('tree.subtitle.diagnostic')
      %div.container
        %div.row
          .col-md-9.text-left.text-question
            -if @appontment
              #{image_tag(prod_img_full('cita'), :class=>"padding-icon-date")} #{t('.title_must_cita_html', path: appointments_path)}
            -else
              #{image_tag(prod_img_full('cita'), :class=>"padding-icon-date")} #{t('.title_cita_html', path: appointments_path)}
          .col-md-3.text-right.text-question
            = link_to download_diagnostic_diagnostic_index_path, :class=>"colorprimario", :target => "_blank" do
              #{image_tag(prod_img_full('imprimir'))} Imprimir
      %div.container-impacto
        %div.row
          #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
            .panel.panel-default
              #headingOne.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
                    .row
                      .col-md-6.details-toggle1
                        =t('.title_impact_html')
                      .col-md-6.text-right.edit-toggle
                        %i.fa.fa-angle-down.impacto1.colorprimario.hidden
                        %i.fa.fa-angle-up.impacto2.colorprimario
              #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                .panel-body
                  = render 'shared/diagnostics/impact', :locals => {:has_bussine => session[:has_bussine],
                                                        :impacto_usuario => session[:impacto_usuario], 
                                                        :has_siapem => session[:has_siapem],
                                                        :has_special_license => session[:has_special_license]}         
            .panel.panel-default
              #headingTwo.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
                    .row
                      .col-md-6.details-toggle2
                        =t('.title_zoning_html')
                      .col-md-6.text-right
                        %i.fa.fa-angle-down.suelo1.colorprimario
                        %i.fa.fa-angle-up.suelo2.colorprimario.hidden
              #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
                .panel-body
                  = render 'shared/diagnostics/zoning', :locals => {:has_siapem => session[:has_siapem], :date_siapem => session[:date_siapem], :has_zoning => session[:has_zoning],:date_zoning => session[:date_zoning], :is_business_home => session[:is_business_home], :uso_de_suelo => session[:uso_de_suelo], :size_business=> session[:size_business],:size_house=>session[:size_house]} 
            .panel.panel-default
              #headingThree.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
                    .row
                      .col-md-6.details-toggle3
                        =t('.title_safety_html')
                      .col-md-6.text-right
                        %i.fa.fa-angle-down.seguridad1.colorprimario
                        %i.fa.fa-angle-up.seguridad2.colorprimario.hidden
              #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
                .panel-body
                  = render 'shared/diagnostics/safety', :locals => {:has_autodiagnostico => session[:has_autodiagnostico],
                  :vobo_seguridad => session[:vobo_seguridad],
                  :has_protection => session[:has_protection],
                  :make_protection => session[:make_protection],
                  :license_ambiental => session[:license_ambiental],
                  :license_sanitaria => session[:license_sanitaria],
                  :no_adeudos => session[:no_adeudos],
                  :aforo => session[:aforo],
                  :impacto_usuario => session[:impacto_usuario]}