.header
  %div.container-impacto.text-center
    %div.row
      %div.col-lg-12
        -@suelo["suelo"]["array_preguntas"]["pregunta"].each_with_index do |pregunta, index|
          -clean_arrays
          -pregunta["array_respuestas"]["respuesta"].each do |respuestas|
            -@respuestas_texto_array << respuestas["texto"]
            -@respuestas_rango_array << respuestas["rangoinicial"]
            -@respuestas_imagen_array << respuestas["imagen"]
            -@respuestas_id_array << respuestas["id"]
            -@respuestas_siguiente_array << respuestas["siguiente"] 
            -unless respuestas["restricciones"].blank?
              -respuestas["restricciones"].each do |restriccion|
                -@respuestas_siguiente_restriccion_array << restriccion["siguiente"]
                -@respuestas_uso_restriccion_array << restriccion["uso"]
            -else
              -@respuestas_siguiente_restriccion_array << "0"
              -@respuestas_uso_restriccion_array << "0"

          -if pregunta["array_respuestas"]["tipo"] == "normal"
            = render 'shared/question_normal', :locals => {:number => pregunta["numero"], :texto_question => pregunta["texto"],:texto_answer => @respuestas_texto_array,:imagen => @respuestas_imagen_array, :hover => @respuestas_hover_array, :next => @respuestas_siguiente_array, :id => @respuestas_id_array ,:restrictions =>@respuestas_uso_restriccion_array,:next_restrictions=> @respuestas_siguiente_restriccion_array}
          -elsif pregunta["array_respuestas"]["tipo"] == "fecha"
            = render 'shared/question_date', :locals => {:number => pregunta["numero"], :texto_question => pregunta["texto"],:texto_answer => @respuestas_texto_array,:imagen => @respuestas_imagen_array,:rangoinicial => @respuestas_rango_array, :next => @respuestas_siguiente_array, :id => @respuestas_id_array ,:restrictions =>@respuestas_uso_restriccion_array,:next_restrictions=> @respuestas_siguiente_restriccion_array}
          -elsif pregunta["array_respuestas"]["tipo"] == "rango"
            = render 'shared/question_rank', :locals => {:number => pregunta["numero"], :texto_question => pregunta["texto"],:texto_answer => @respuestas_texto_array,:imagen => @respuestas_imagen_array,:rangoinicial => @respuestas_rango_array, :next => @respuestas_siguiente_array, :id => @respuestas_id_array ,:restrictions =>@respuestas_uso_restriccion_array,:next_restrictions=> @respuestas_siguiente_restriccion_array}
          -elsif pregunta["array_respuestas"]["tipo"] == "lugar"
            = render 'shared/question_town', :locals => {:number => pregunta["numero"], :texto_question => pregunta["texto"],:texto_answer => @respuestas_texto_array,:imagen => @respuestas_imagen_array,:rangoinicial => @respuestas_rango_array, :next => @respuestas_siguiente_array, :id => @respuestas_id_array ,:restrictions =>@respuestas_uso_restriccion_array,:next_restrictions=> @respuestas_siguiente_restriccion_array}
    .div.diagnostic.hidden{:id=>"diagnostic"}         
      =render "shared/diagnostic_zoning", uso: @tipo_de_uso
    .div.margin-bottom-end-page  
      =render "shared/progressbar"

:javascript
    var number_of_views = 0;
      /*Flags*/
    var IMPACTO = 1;
    var SUELO = 2;
    var SEGURIDAD = 3;

    var TIPO_NORMAL= 1;
    var TIPO_FECHA = 2;
    var TIPO_RANGO = 3;
    var TIPO_LUGAR = 4;
 
  /*Cuando el documento carga se muestra la primer pregunta por defecto*/
  $(document).ready(function(){ 
    document.getElementById("1").removeAttribute("class");
        /*Obtenemos el tamaño maximo de ids en la vista*/
    number_of_views = "#{@suelo["suelo"]["array_preguntas"]["pregunta"].size}";

  });