<div id=<%="#{locals[:number]}"%>>
	<p> 
		<%= locals[:texto_question] %> 
	</p>
	<BR>
  <div class="col-md-12">
      <div class="row seven-cols">
        <div class="col-md-8 col-md-offset-2">
        <%locals[:texto_answer].each_with_index do |text, index|%>
          <div class=<%="col-md-#{12/locals[:texto_answer].size}"%>>
            <%unless locals[:rangoinicial][index].nil?%>
              <%=select "obj", "test", get_array_fecha(locals[:rangoinicial][index]).each_with_index.map {|name, index| [name,index]},{ include_blank: true , selected: false }, class: 'chosen-select'%><br>
            <%else%>
              <div id="rcorner" class="text-center">
                <%=image_tag locals[:imagen][index],class: "img-responsive"%>
              </div>
              <%=text%>
            <%end%>
            
          </div>
        <%end%>
        </div>
      </div>
  </div>
</div>
<div class="col-md-12">
  <hr>
</div>