-unless locals[:rank_init].nil?
  %div.margin-top-dropdown
    -if locals[:tipo] == "fecha"
      =select :date, "date", 
        get_array_fecha(locals[:rank_init]).each_with_index.map {|name, index| [name,index]},{ include_blank: true , selected: false }, class: "chosen-select",
        :onchange=> "dateClick(#{locals[:number]}, 
          #{locals[:id]}, 
          #{locals[:next]},
          #{locals[:restrictions]},
          #{locals[:next_restrictions]})",:id=>"date_#{locals[:number]}_#{locals[:id]}"
    -elsif locals[:tipo] == "rango"
      =select :date, "date", 
        get_array_rank(locals[:rank_init]).each_with_index.map {|name, index| [name,index]},{ include_blank: true , selected: false }, class: "chosen-select",
        :onchange=> "dateClick(#{locals[:number]}, 
          #{locals[:id]}, 
          #{locals[:next]},
          #{locals[:restrictions]},
          #{locals[:next_restrictions]})",:id=>"date_#{locals[:number]}_#{locals[:id]}"
    -elsif locals[:tipo] == "lugar"
      =select :date, "date", 
        Services.load_towns.each_with_index.collect {|opt| [opt[:label], opt[:id]]},{ include_blank: true , selected: false }, class: "chosen-select",
        :onchange=> "dateClickTown(#{locals[:number]}, 
          #{locals[:id]}, 
          #{locals[:next]},
          #{locals[:restrictions]},
          #{locals[:next_restrictions]})",:id=>"date_#{locals[:number]}_#{locals[:id]}"
    -elsif locals[:tipo] == "sublugar"
      =select :date, "date", 
        Services.load_city(session[:date_zoning]),{ include_blank: true , selected: false }, class: "chosen-select",
        :onchange=> "dateClick(#{locals[:number]}, 
          #{locals[:id]}, 
          #{locals[:next]},
          #{locals[:restrictions]},
          #{locals[:next_restrictions]})",:id=>"date_#{locals[:number]}_#{locals[:id]}"
    -elsif locals[:tipo] == "aforo"
      =select :date, "date", 
        get_array_aforo(locals[:rank_init]).each_with_index.map {|name, index| [name,index]},{ include_blank: true , selected: false }, class: "chosen-select",
        :onchange=> "dateClick(#{locals[:number]}, 
          #{locals[:id]}, 
          #{locals[:next]},
          #{locals[:restrictions]},
          #{locals[:next_restrictions]})",:id=>"date_#{locals[:number]}_#{locals[:id]}"
-else
  = render 'shared/question_normal', :locals => {:imagen => locals[:imagen],
                                                :number => locals[:number], 
                                                :text => locals[:text],
                                                :id => locals[:id],
                                                :next => locals[:next],
                                                :restrictions => locals[:restrictions],
                                                :next_restrictions=>locals[:next_restrictions]}