#page-content-wrapper
  .container-fluid
    .header
      =render "shared/titlebar", :title => t('appointment.panel.title'),:text => t(".app_name")
    %div.container
      %div.row
        = render partial: "shared/messages", flash: flash
      %div.jumbotron
        %h3.text-center
          = t(".learning_center")
        %div.row
          %div.col-md-2.pull-right
            = link_to new_admins_resource_path, class: "btn btn-primary" do
              %span.glyphicon.glyphicon-plus
              = t(".add_resource")
        %div.row
          - if @resources.any?
            %table.table.table-striped
              %thead
                %tr
                  %th
                    = t(".id")
                  %th
                    = t(".name")
                  %th
                    = t(".description")
                  %th
                    = t(".url")
                  %th
                    = t(".category")
                  %th
                    = t(".action")
              %tbody
                - @resources.each do |resource|
                  %tr
                    %td
                      = resource.id
                    %td
                      = resource.name
                    %td
                      = truncate(resource.description, :length => 30)
                    %td
                      =  truncate(resource.url, :length => 30)
                    %td
                      = resource.category
                    %td
                      = link_to edit_admins_resource_path(resource.id) do
                        %i.fa.fa-pencil-square-o.pink.fa-2x
                      |
                      = link_to admins_resource_path(resource), method: :delete, data: { confirm: t('.delete') } do
                        %i.fa.fa-trash-o.pink.fa-2x
          - else
            %div.row.text-center
              %em.text-muted
                = t(".no_resources")