//hacemos visible la salida y la llenamos con la información
$('.diagnostic').removeClass("hidden");
$('.diagnostic').addClass('animated fadeIn');
$('.jumbotron').html("<H2 class='colorprimario'>#{type}<H2><p>#{text}</p>");
-if new_window
	$('.next-step').html("<a class='btn btn-default btn btn-primary btn-block btn-padding' href=#{path} data-no-turbolink='true' target='_blank'>#{next_text}</a>"); 
-else   
	$('.next-step').html("<a class='btn btn-default btn btn-primary btn-block btn-padding' href=#{path} data-no-turbolink='true'>#{next_text}</a>"); 
//Actualizamos los progressBars
progressBar("100","100","100");