%row  
  %div.col-md-8.col-md-offset-2
    %div.margin-top-dropdown
      %h3.pink
        =t('.title_service')
        %i.fa.fa-info-circle.input-gray{:href => "#menu-toggle",:id=>"menu-toggle94"}
      %br
      %div.col-md-12
        =t('.subtitle_service')
      %hr
      %div.row
        .col-md-5.sin-padding.text-center
          =t('.superficie_servicios_html')
          %i.fa.fa-info-circle.input-gray{:href => "#menu-toggle",:id=>"menu-toggle95"}
          =text_field :date, "date", class: 'form-controler',:type=>"number", :placeholder => '30.5',
          :onchange=> "valueAforo('',#{session[:size_business].to_f})",:id=>"superficie_s"
        .col-md-2
          .col-md-10.col-md-offset-1
            %i.fa.fa-minus.fa-5x
        .col-md-5.sin-padding
          =t('.superficie_servicios_enseres_html')
          %i.fa.fa-info-circle.input-gray{:href => "#menu-toggle",:id=>"menu-toggle96"}
          =text_field :date, "date", class: 'form-controler',:type=>"number", :placeholder => '20.0',
          :onchange=> "valueAforo('',#{session[:size_business].to_f})",:id=>"mobiliario_s"
      %hr
      %div.row
        .col-md-5.sin-padding
        .col-md-2
          .col-md-10.col-md-offset-1
            %i.fa.fa-plus.fa-5x

            
  %div.col-md-8.col-md-offset-2
    %div.margin-top-dropdown
      %h3.pink 
        =t('.title_atention')
        %i.fa.fa-info-circle.input-gray{:href => "#menu-toggle",:id=>"menu-toggle90"}
      %br
      %div.col-md-12
        =t('.subtitle_atention')
      %hr
      %div.row
        .col-md-5.sin-padding
          =t('.superficie_atencion_html')
          %i.fa.fa-info-circle.input-gray{:href => "#menu-toggle",:id=>"menu-toggle91"}
          =text_field :date, "date", class: 'form-controler',:type=>"number", :placeholder => '100.5',
          :onchange=> "valueAforo('',#{session[:size_business].to_f})",:id=>"superficie_t"
        .col-md-2
          .col-md-10.col-md-offset-1
            %i.fa.fa-minus.fa-5x
        .col-md-5.sin-padding
          =t('.superficie_atencion_enseres_html')
          %i.fa.fa-info-circle.input-gray{:href => "#menu-toggle",:id=>"menu-toggle92"}
          =text_field :date, "date", class: 'form-controler',:type=>"number", :placeholder => '45.5',
          :onchange=> "valueAforo('',#{session[:size_business].to_f})",:id=>"mobiliario_t"
      %hr.style-line
      %div.row  
        .col-md-12
          Giro
          %i.fa.fa-info-circle.input-gray{:href => "#menu-toggle",:id=>"menu-toggle93"}
          -if is_bajo_impacto?
            =select :date, "date", 
            Towns.load_aforo('bajo').each_with_index.collect {|opt| [opt[:label], opt[:id], opt[:name]]},{ include_blank: true , selected: false },:id=>"impacto_t", class: "chosen-select",:onchange=> "valueAforo('bajo',#{session[:size_business].to_f})"
          -else
            =select :date, "date", 
            Towns.load_aforo('vecinal').each_with_index.collect {|opt| [opt[:label], opt[:id], opt[:name]]},{ include_blank: true , selected: false },:id=>"impacto_t", class: "chosen-select",:onchange=> "valueAforo('vecinal',#{session[:size_business].to_f})"


  

%div.margin-top-dropdown.hidden{:id=>"diagnosticaforo"} 
  .jumbotron
    %h2.colorprimario
      ="Tu aforo es: #@aforo"

:javascript
  $(document).ready( function () {
    for(i = 90; i <= 97; i++){
      $("#menu-toggle"+i).click(function(e) {
        e.preventDefault();
        $('#head_wrapper').css("position", "fixed");
        $('#head_wrapper').css("width", "50%");
        $('#menu-toggleint').css("position", "fixed");
        $("#wrapper").toggleClass("toggled");
        
        if($("#wrapper").hasClass("toggled")){
          $('#page-content-wrapper').css("-webkit-filter", "blur(0px)");
          $('#page-content-wrapper').css("-webkit-transition", "-webkit-filter .0s");
        }else{
          $('#page-content-wrapper').css("-webkit-filter", "blur(5px)");
          $('#page-content-wrapper').css("-webkit-transition", "-webkit-filter .30s");
        }
      });
    }
  });