%div.hidden{:id=>"#{locals[:number]}"}
  .row.question-container
    .col-md-12
      =label_tag :label do
        =locals[:texto_question]
        %i.fa.fa-info-circle.fa-lg.pink{:href => "#menu-toggle",:id=>"menu-toggle#{locals[:number]}",:rel=>"popover",:data=>{:content=>"Conceptos claves"}}
    .col-md-12
      .answer-container
        -locals[:texto_answer].each_with_index do |text, index|
          -if locals[:tipo]=='normal'
            %div{:class=>"answer-block"}
              = render 'shared/questions/question_normal', :locals => {:imagen => locals[:imagen][index],
                                                            :number => locals[:number], 
                                                            :text => text,
                                                            :id => locals[:id][index],
                                                            :next => locals[:next][index],
                                                            :restrictions => locals[:restrictions][index],
                                                            :next_restrictions=>locals[:next_restrictions][index]}

          -elsif locals[:tipo]=='fecha' || locals[:tipo]=='lugar' || locals[:tipo]=='sublugar'
            %div{:class=>"answer-block"}
              = render 'shared/questions/question_date', :locals => {  :imagen => locals[:imagen][index],
                                                            :number => locals[:number], 
                                                            :text => text,
                                                            :id => locals[:id][index],
                                                            :next => locals[:next][index],
                                                            :restrictions => locals[:restrictions][index],
                                                            :next_restrictions=>locals[:next_restrictions][index],
                                                            :rank_init=>locals[:rank_init][index],
                                                            :tipo => locals[:tipo]}
          -elsif locals[:tipo]=='rango'
            %div{:class=>" answer-block"}
              = render 'shared/questions/question_rango', :locals => {  :imagen => locals[:imagen][index],
                                                            :number => locals[:number], 
                                                            :text => text,
                                                            :id => locals[:id][index],
                                                            :next => locals[:next][index],
                                                            :restrictions => locals[:restrictions][index],
                                                            :next_restrictions=>locals[:next_restrictions][index],
                                                            :rank_init=>locals[:rank_init][index],
                                                            :tipo => locals[:tipo]}
          -elsif locals[:tipo]=='open'
            %div{:class=>" answer-block"}
              = render 'shared/questions/question_open', :locals => { :imagen => locals[:imagen][index],
                                                            :number => locals[:number], 
                                                            :text => text,
                                                            :id => locals[:id][index],
                                                            :next => locals[:next][index],
                                                            :restrictions => locals[:restrictions][index],
                                                            :next_restrictions=>locals[:next_restrictions][index],
                                                            :rank_init=>locals[:rank_init][index],
                                                            :tipo => locals[:tipo]}

          -elsif locals[:tipo]=='calculadora'
            %div{:class=>"col-md-12  text-center"}
              = render 'shared/questions/question_calculadora', :locals => {:imagen => locals[:imagen][index],
                                                            :number => locals[:number], 
                                                            :text => text,
                                                            :id => locals[:id][index],
                                                            :next => locals[:next][index],
                                                            :restrictions => locals[:restrictions][index],
                                                            :next_restrictions=>locals[:next_restrictions][index]}
  %div.col-md-12.margin-top
    %hr

:javascript
  $(document).ready( function () {
    blur_div();
  });

  var options = {
    placement: function (context, source) {
        var position = $(source).position();

        if (position.left >= 700) {
            return "right";
        }

        if (position.left < 700) {
            return "bottom";
        }
    }
    , trigger: "hover"
  };
  $("i.fa").popover(options);

  /*agregamos un fondo blur al abrir la ayuda*/
  function blur_div(){
      for(i = 1; i <= "#{@file.size}"; i++){
      $("#menu-toggle"+i).click(function(e) {
        e.preventDefault();

        
        if($("#wrapper").hasClass("toggled")){
  
          $('#page-content-wrapper').css("-webkit-filter", "blur(5px)");
          $('#page-content-wrapper').css("-webkit-transition", "-webkit-filter .30s");

          $('#head_wrapper').css("position", "fixed");
          $('#menu-toggleint').css("position", "fixed");
          $("#wrapper").toggleClass("toggled");
          
        }else{
          $('#page-content-wrapper').css("-webkit-filter", "blur(0px)");
          $('#page-content-wrapper').css("-webkit-transition", "-webkit-filter .0s");

          $('#head_wrapper').css("position", "relative");
          $('#menu-toggleint').css("position", "relative");
          $("#wrapper").toggleClass("toggled");
          

        }
      });
    }
  } 